[submodule "ysyxSoC"]
    path = ysyxSoC
    url = git@github.com:linye0/ysyxSoC_ly.git
	branch = master

[submodule "rt-thread-am"]
    path = rt-thread-am
    url = git@github.com:linye0/rt-thread-am.git
	branch = master

[submodule "yosys-sta"]
	path = yosys-sta
	url = git@github.com:linye0/yosys-sta.git
	branch = master
